 @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/* header, 
section,
aside, 
footer {
    margin:0 1% 10px 1%;
    padding: 20 px;
    font-family: 'Titillium Web', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

section{
    float: left;
    width: 60%;
    height: 70vh;
    background-color:#bada55;
    
}

aside{
    float: right;
    width: 33%;
    height: 70vh;
    background-color:#bada55;
}

footer {
        clear: both;
        background-color:red;
}

.footer a {
    align-items: center;

} */


/* 
img {
    padding: 10px;
}

div {
    float: right;
    padding: 25px;
    margin: auto; 
    
} */


/* ----------------------------------------header-----------------------------------------*/
header {
    background-color: #36414c;
}


/* ----------------------------------------nav--------------------------------------------*/

a {
    padding: 24px 58px 26px 0;
    color: #cfd8dd;
    text-decoration: none;
} 

a:hover {
  text-decoration: underline;
  color: #5b9de3;
}

a.active {
  text-decoration: underline;
  color: white;
}

/* ----------------------------------------section----------------------------------------*/
.home {
    text-align: center;
    padding: 60px 0 60px 0;
    
}
.home h1 {
    color: #343d42;
    font-size: 56px;
}


/* ----------------------------------------section WHY US----------------------------------------*/
.why-us {
    padding: 80px 0 80px 0;
}

.why-us h2 {
    font-size: 45px;
    font-weight: normal;
}

.why-us p {
    font-family: "Titillium";
    color: #343d42;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.44
}

.icon-bg {
    background-color: #5b9de3;
    border-radius: 8px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 15px;
}

/* ----------------------------------------section contact------------------------------------------*/
.get-pumped {
    text-align: center;
    padding: 80px 0 80px 0;
    
}
.get-pumped h2 {
    font-size: 45px;
}


/* ----------------------------------------footer-----------------------------------------*/

.upper-footer {
    background-color:#343d42;
    padding: 80px 0;

}

.upper-footer p {
    color: #5b9de3;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.upper-footer ul {
    list-style-type: none;
}

.upper-footer ul li a {
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s linear;
}

.upper-footer ul li span {
    margin-right: 10px;
  }


.lower-footer {
    background-color:#1f262d;
    color: #c6def6;
    font-size: 12px;
    padding: 40px 0;

}

.footer-social ul li {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    background-color: #5b9de3;
    border-radius: 5px;
    padding: 6px;
    margin: 0px 5px 0px 5px;

}




















/* @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    float: left;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #36414c;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: #cfd8dd;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    float: right;
} */